.post-card {
  display: flex;

  img {
    margin-right: 5%;
    width: 50%;
    cursor: pointer;
  }
}

.post-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;

  h1 {
    cursor: pointer;
  }
}
