.post-card {
  display: flex;

  img {
    margin-right: 5%;
    width: 50%;
    cursor: pointer;
  }
}

.post-card-text {
  display: flex;
  flex-direction: column;
  text-align: left;

  .post-card-title {
    cursor: pointer;
    font-family: "Roboto";
    letter-spacing: "1px";
  }

  .post-card-excerpt {
    font-family: "Lato";
    font-style: italic;
  }
}
